<div class="flex m-auto h-screen justify-center mt-14">
    <div class="md:w-5/12 h-fit rounded-xl shadow-xl p-8 flex justify-center">
        <form (ngSubmit)="submit()" #myForm="ngForm" class="flex flex-col gap-3">
            <h1 class="text-center text-2xl font-bold pb-6 text-slate-500 uppercase">
                Register
            </h1>

            <div>
                <label for="username">Names</label>
                <input type="text" name="username" class="p-2 rounded w-full focus:outline-none border border-slate-200" [(ngModel)]="form.names" #names="ngModel" required />
            </div>
            <div *ngIf="namesValidation" [hidden]="names.valid" class="px-4 py-1 bg-red-300 text-red-800">
                Name can't be emptly
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" class="p-2 rounded w-full focus:outline-none border border-slate-200" [(ngModel)]="form.email" #email="ngModel" required />
            </div>
            <div *ngIf="emailValidation" [hidden]="email.valid" class="px-4 py-1 bg-red-300 text-red-800">
                Email field must be valid
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" class="p-2 rounded w-full focus:outline-none border border-slate-200" [(ngModel)]="form.password" #password="ngModel" required />
            </div>
            <div *ngIf="passwordValidation" [hidden]="password.valid" class="px-4 py-1 bg-red-300 text-red-800">
                Password must be valid
            </div>
            <div>
                <label for="password">Confirm Password</label>
                <input type="password" name="confirmPassword" class="p-2 rounded w-full focus:outline-none border border-slate-200" [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel" required />
            </div>
            <div *ngIf="confirmPasswordValidation" [hidden]="confirmPassword.valid" class="px-4 py-1 bg-red-300 text-red-800">
                Confirm Password must be valid
            </div>
            <div class="pt-6">
                <button [disabled]="isLoading()" type="submit" class="p-2 w-full bg-slate-200 hover:bg-slate-100">
          {{ isLoading ? "Loading ..." : "Submit" }}
        </button>
            </div>
        </form>
    </div>
</div>