<nav class="flex justify-between p-5 bg-slate-100">
    <div>
        <a routerLink="/" class="text-green-700 text-xl font-bold">Books Shop</a>
    </div>
    <div>
        <a routerLink="/cart" class="mx-4">My Cart</a>
        <ng-container *ngIf="!isAuthenticated()">
            <a routerLink="/login" class="mx-4">Login</a>
            <a routerLink="/register" class="mx-4">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <button (click)="logout()">Logout</button>
        </ng-container>
    </div>
</nav>

<div class="p-5">
    <router-outlet></router-outlet>
</div>